

.container {  
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 2fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar navbar navbar navbar navbar navbar"
      ". prof-pic prof-info prof-info prof-info ."
      ". posts posts posts posts .";
  }
  
.navbar { 
    grid-area: navbar; 
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90vh;
}

.navbar a {
  color: white;
  text-decoration: none;
}
  
.prof-pic {
    grid-area: prof-pic; 
}

#profile-pic {
  width: 100%;
  height: auto;
}

.prof-pic {
  display: flex;
  align-items: center;
}
  
.prof-info { 
    grid-area: prof-info; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 5vw;
}

.prof-info h1 {
  align-self: center;
}
  
.posts { 
    grid-area: posts; 
    background-color: pink;
}
  
.container > div {
    border: 2px solid black
}